<h1><%= @user.username %>'s Profile</h1>

<img class='profile-pic' src="http://besthqimages.mobi/wp-content/uploads/default-profile-picture-png-pictures-4.png" alt="user-profile-pic">

<div class='users-container'>
  <div class="user">
    <div class="username"> USERNAME:  <%= @user.username %> </div>
    <div class="first-name"> FIRST NAME:  <%= @user.first_name %> </div>
    <div class="last-name"> LAST NAME:  <%= @user.last_name %> </div>
    <div class="email"> EMAIL:  <a href="mailto:<%= @user.email %>"> <%= @user.email %> </a></div>
  </div>
</div>