<div class='question-form'>
  <%= form_for(:question, url: questions_path) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>
  <div>
    <%= label_tag :tag %>
    <%= text_field_tag :tag %>
  </div>
   <div>
    <%= f.submit 'Submit' %>
  </div>
  <% end %>
</div>


