<div id="question-header">
 <h1> <%= @question.title %> </h1>
</div>

<div class='question-container'>
  <div class='count-box'>
    <p class='count'> vote count </p>
    <p class='count-title'> votes </p>
  </div>
  <div class='question-body'> <%= @question.body %> </div>
  <div>
    <%= button_to 'Edit', edit_question_path(@question), method: :get %>
    <%= button_to 'Delete Question', question_path(@question), method: :delete %>
  </div>
  <% @question.tags.each do |tag| %>
    <div class='tags'>
      <%= button_to tag.name, tag_path(tag), method: :get %>
    </div>
  <% end %>
  <div class='user-info'>
    <span class="user-action-time">time method</span>
    <span class="username"><%= link_to @question.user.username, user_path(@question.user) %></span>
  </div>
  <div class='question-comment-container'>
    <% order_collection(@question.comments).each do |comment| %>
      <div class="comment-body">
        <%= comment.body %>
      </div>
    <% end %>
  </div>
  <div class='question-comment-link'>
    <%= link_to 'add a comment', new_comment_path %>
  </div>
  <div class ="question-comment-form"><%= render partial: 'comments/new', locals:{ comment: @comment, commentable_id: @question.id, commentable_type: 'Question'} %></div>

</div>
<div class='answer-div'>
  <p class='answer-count'> <%= @question.answers.count %> Answers</p>
</div>

<div class='answer-container'>
  <% @question.answers.each do |answer| %>
  <div class='count-box'>
    <p class='count'> vote count </p>
    <p class='count-title'> votes </p>
  </div>
    <%= render partial: 'answers/answer', layout: false, locals: {answer: answer} %>
    <div class='answer-comment-container<%=answer.id%>'>
    <% order_collection(answer.comments).each do |comment| %>
      <div class="comment-body">
        <%= comment.body %>
      </div>
    <% end %>
    <div class='answer-comment-link'>
      <%= link_to 'add a comment', new_comment_path %>
    </div>
    <div class ="answer-comment-form"><%= render partial: 'comments/new', locals:{comment: @comment, commentable_id: answer.id, commentable_type: 'Answer'} %></div>
    </div>
  <% end %>
</div>
<div class ="answer-form"><%= render partial: 'answers/new', locals: { answer: @answer, question: @question } %></div>
<div class='question-footer'>Looking for more? Go to the real <a href="https://www.stackoverflow.com">Stack Overflow</a></div>

