<header>
<h1> <%= link_to "Stack Underflow", root_path %> </h1>
<% if current_user %>
  <div class='session-control'>
  <%= current_user.username%>
  <%= link_to "Profile", user_path(session[:user_id]), id: "profile" %>
  <%= link_to "Logout", logout_path, id: "logout" %>
  <div class="nav_stuff"><%= button_to 'New Question', new_question_path, method: :get %></div>
  <div class="nav_stuff"><%= link_to 'All users', users_path, html: {id: "all_users"} %><div>
</div>

<% else %>
  <div class='session-control'>
  <%= link_to "Sign up", signup_path %>
  <%= link_to "Login", login_path %>
  <%= button_to 'New Question', new_question_path, method: :get %>
  <%= link_to 'check out our users', users_path %>
  </div>
<% end %>
<div class='flash'> <%= flash[:notice]%> </div>
</header>
